<!DOCTYPE html>
<html>
  <head>
    <title>{{ racion.meal.name }}</title>
  </head>
  <body>
    <h3>{{ racion.food }}</h3>
    <p>Белки:{{ racion.food.bel }}</p>
    <p>Жиры:{{ racion.food.jir }}</p>
    <p>Углеводы:{{ racion.food.ugl }}</p>
    <p>Калории:{{ racion.food.cal }}</p>
    <nav>
      <p><a href="{% url 'change_racion' pk=racion.pk %}">Изменить</a></p>
      <p><a href="{% url 'delete_racion' pk=racion.pk %}">Удалить</a></p>
      <p><a href="{% url 'index' %}">Главная</a></p>
    </nav>
  </body>
</html>
